body{
    font-family: "Merienda", cursive;
    background-image: url(/images-base/bg-main2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    height: 100vh;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:  rgb(168, 108, 108);
    --secondary-color: rgb(43, 23, 35);
    --surface-color: rgb(94, 32, 60);
    --accent-text-color: rgb(217, 177, 141);
}

.visually-hidden{
    display:none;
}

.logo-container{
    position: relative;
    display: inline-block;
}

#logo-bg{
    background-color: var(--secondary-color);
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    max-width: 150%;
    max-height: 150%;
}