.header-contact-btn {
  transition: transform 0.3s ease-in-out;
}

.header-container {
  position: fixed;
  top: 0;
  z-index: var(--z-header);
  gap: var(--space-md);
  inset-block-start: 0;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  inline-size: 100%;
  max-inline-size: 100dvw;
  block-size: var(--header-h);
  padding-inline: var(--space-lg);
  padding-block: var(--header-pad);
  overflow: clip;
  background: var(--secondary-color);
}

.header-container > * {
  max-block-size: calc(var(--header-h) - 2 * var(--header-pad));
}

.logo {
  display: flex;
  align-items: center;
  padding-block: var(--space-md);
}

#logo-image {
  padding-block: var(--space-md);
  inline-size: clamp(72px, 18vw, 320px);
  aspect-ratio: 1;
  object-fit: cover;
  border: 1px solid var(--accent-text-color);
  border-radius: 50%;
}

#home-btn-link {
  position: fixed;
  display: inline-grid;
  place-items: center;
  justify-self: center;
  inline-size: var(--icon-size-xl);
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
  transform: scale(1.1);
}

.home-icon {
  display: block;
  object-fit: contain;
  opacity: 0.7;
}

.home-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.theme-toggle-btn {
  min-inline-size: var(--icon-size-md);
  aspect-ratio: 1;
  padding-inline: var(--space-md);
  border: 1px solid var(--accent-text-color);
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.toggle-theme-icon {
  inline-size: var(--icon-size);
}

.header-contact-btn {
  justify-self: end;
  min-inline-size: var(--icon-size-md);
  aspect-ratio: 1;
  padding-inline: var(--space-md);
  color: var(--accent-text-color);
  font-size: var(--font-size-sm);
  border: 1px solid var(--accent-text-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
}

.header-contact-icon {
  inline-size: var(--icon-size);
}

@media (min-width: 768px) {
  h1 {
    display: initial;
    margin: 0;
    margin-left: var(--space-sm);
    line-height: 1;
    color: var(--accent-text-color);
    font-size: var(--font-size-txt);
    font-weight: var(--font-weight);
  }

  #logo-image {
    inline-size: var(--icon-size-xxl);
  }

  #home-btn-link {
    inline-size: clamp(36px, 6dvw, 96px);
  }

  .toggle-theme-icon {
    inline-size: var(--icon-size-sm);
  }

  .header-contact-btn {
    margin-left: var(--space-sm);
    inline-size: clamp(36px, 22dvw, 140px);
    block-size: clamp(24px, 6dvh, 96px);
    border-radius: var(--border-radius);
  }

  .header-contact-text {
    display: initial;
  }

  .header-contact-icon {
    display: none;
  }
}

@media (min-width: 1024px) {
  #logo-bg {
    inline-size: var(--icon-size-xl);
    block-size: auto;
  }
  #logo-image {
    inline-size: var(--icon-size-xxl);
  }

  .toggle-theme-icon {
    inline-size: var(--icon-size-sm);
  }

  .header-contact-btn {
    margin-left: var(--space-sm);
    inline-size: clamp(36px, 22dvw, 160px);
    block-size: clamp(24px, 6dvh, 96px);
    border-radius: var(--border-radius);
  }

  #home-btn-link {
    inline-size: var(--icon-size-lg);
  }
}

@media (min-width: 1440px) {
  .theme-toggle-btn {
    padding-inline: var(--space-sm);
    inline-size: var(--icon-size-md);
  }

  .header-contact-btn {
    inline-size: clamp(36px, 22dvw, 180px);
  }
}

@media (min-width: 1920px) {
  .header-contact-btn {
    font-size: var(--font-size-txt);
  }
}
