.header-contact-btn {
  transition: transform 0.3s ease-in-out;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: var(--z-header);
  gap: var(--space-sm);
  inset-block-start: 0;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  inline-size: 100%;
  max-inline-size: 100dvw;
  block-size: var(--header-h);
  padding-inline: var(--space-lg);
  padding-block: var(--header-pad);
  overflow: clip;
  background: var(--secondary-color);
}

.header-container > * {
  max-block-size: calc(var(--header-h) - 2 * var(--header-pad));
}

.logo {
  display: flex;
  align-items: center;
}

#logo-bg {
  inline-size: min(calc(var(--header-h) - 2 * var(--header-pad)));
  max-inline-size: 90%;
  aspect-ratio: 1/1;
  height: auto;
  border-radius: 50%;
  background-color: var(--secondary-color);
  box-shadow: var(--drop-shadow);
}

#logo-image {
  max-inline-size: 100%;
  max-block-size: 100%;
  object-fit: contain;
}

#home-btn-link {
  position: fixed;
  display: inline-grid;
  place-items: center;
  justify-self: center;
  inline-size: clamp(36px, 10dvw, 96px);
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
  transform: scale(1.1);
}

.home-icon {
  display: block;
  block-size: auto;
  aspect-ratio: 1/1;
  height: auto;
  object-fit: contain;
  opacity: 0.7;
}

.home-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.theme-toggle-btn {
  min-inline-size: var(--icon-size-lg);
  block-size: var(--btn-height);
  padding-inline: var(--space-md);
  border: none;
  border-radius: 50%;
  background-color: var(--secondary-color);
  box-shadow: var(--drop-shadow);
}

.toggle-theme-icon {
  inline-size: var(--icon-size-lg);
}

.header-contact-btn {
  justify-self: end;
  min-inline-size: var(--icon-size-lg);
  block-size: var(--btn-height);
  padding-inline: var(--space-md);
  color: var(--accent-text-color);
  font-size: var(--font-size-sm);
  border: none;
  background-color: var(--secondary-color);
  border-radius: 50%;
  box-shadow: var(--drop-shadow);
}

.header-contact-icon {
  inline-size: var(--icon-size-lg);
}

@media (min-width: 768px) {
  h1 {
    display: initial;
    margin: 0;
    line-height: 1;
    color: var(--accent-text-color);
    font-size: var(--font-size-txt);
    font-weight: var(--font-weight);
  }

  .toggle-theme-icon {
    inline-size: var(--icon-size-sm);
  }

  .header-contact-btn {
    border-radius: var(--border-radius);
  }

  .header-contact-text {
    display: initial;
  }

  .header-contact-icon {
    display: none;
  }
}

@media (min-width: 1440px) {
  .theme-toggle-btn {
    padding-inline: var(--space-sm);
  }
}

@media (min-width: 1920px) {
  .header-contact-btn {
    font-size: var(--font-size-txt);
  }
}
